
/*STYLES FOR NAVIGATION*/
nav {
	text-align: center; /*Align text to the Center*/
	background-color: #FFFFCC;  /*set background color*/
	padding: 1em; /*Add bottom padding*/
	border: 2px dashed #D9CD3D; /*Add top Border*/
	margin: 0; /*set margin to 0*/
}
nav a {
	text-decoration: none; /*remove default link underline*/
}
/*pseudo class for nav links*/
nav a:link {
	color: #8B008B; /*set color of nav*/
}
nav a:hover {
	color: #CC9933;  /*set color of nav when hovered over*/
}


/*STYLES FOR IMAGES*/
#group {
	height: 600px; /*set image height*/
	background-image: url(../images/group.jpg); /*Set background image*/
	background-size: cover; /*Cover entire element with background image*/
	background-repeat: no-repeat; /*Prevent background image from repeating*/
	background-position: center; /*set image position to center*/
}
img {
	padding-left: 15px;  /*set left padding*/
	padding-right: 15px;  /*set right padding*/
	padding-top: 5px;  /*set top padding*/
	padding-bottom: 5px;  /*set bottom padding*/
	width: 100%; 
	height: auto;  /*set height to auto scale image*/
}


/*STYLES FOR BODY*/
body {
	background-color: #F5F5F5;  /*set background color*/
	color: #000000;  /*set font color*/
	font-family: Georgia, Arial, sans-serif;  /*set font for text*/
}
	
h1 { 
	display: block;
	text-align: center; /*Align text to the Center*/
	background-color: #E6CCFF;  /*set background color*/
	padding: 15px; /*Add bottom padding*/
	margin-top: 0; /*remove top margin*/
	margin-bottom: 0;  /*remove bottom margin*/
}
h2 {
	text-align: center; /*align h2 to center*/
}
h3 { 
	text-align: center;  /*align h3 to center*/	
	padding-left: 15px; /*set left padding*/
	padding-right: 15px; /*set right padding*/
}
h4 {
	text-align: center; /*align text to center*/
	background-image: linear-gradient(to right, #9932CC, #E6CCFF, #F5F5F5, #F5F5F5, #E6CCFF, #9932CC); /*set background gradient*/
	margin: 0 auto; /*delete margin and move to center*/
	padding-top: 30px; /*add top padding*/
	padding-bottom: 30px; /*add bottom padding*/
	width: 80%; /*set width to 80% of page*/
	border-right: 4px dashed #8B008B; /*add right border style*/
	border-left: 4px dashed #8B008B; /*add left border style*/
}
#subhead {
	text-align: center; /*aliugn text to center*/
	background-image: linear-gradient(to right, #9932CC, #E6CCFF, #F5F5F5, #F5F5F5, #E6CCFF, #9932CC); /*set background gradient*/
	margin: 0; /*delete margin*/
	padding-top: 20px; /*add top padding*/
	padding-bottom: 20px; /*add bottom padding*/
}
hr {
	border: 2px dashed #8B008B; /*set border weight style and color*/
	width: 80%; /*set to take up 80& of page*/
	margin: 0 auto; /* delete margin and center*/
}

/*STYLES FOR GALLERY*/
#gallery { 
		background-image: linear-gradient(to right, #9932CC, #E6CCFF, #E6CCFF, #9932CC); /*set background gradient*/
		width: 100%; /*set width to 100% of page*/
		margin: 0 auto; /*delete margin and center*/
		padding-top: 20px; /*add top padding*/
		padding-bottom: 50px; /*add bottom padding*/
		}
#gallery ul { 
        list-style-type: none; /*remove bullet points*/
		float: left; /*set to move to left of page*/
		margin: 0; /*no margin*/
		padding: 0; /*no padding*/
		}
#gallery li { 
		display: inline; 
		float: left;
		padding: 0;
		}
#gallery img { 
		border-style: none; /*no border style*/
		width: 40%; /*size down images*/
		}
figure { 
		padding-top: 20px; /*add top padding*/
		text-align: center; /*align text to center*/
		}
figcaption { 
		font-weight: bold; /*set text to bold*/
        font-size: 1.5em; /*set font size*/
		padding-top: 30px; /*add top padding*/
		}


/*STYLES FOR FORM*/
form {
	background-image: url(../images/paws.jpg);
	background-repeat: repeat;
	width: 350px;
    margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#box {
	background-color: #E6CCFF;
	padding-top: 4px;
	padding-bottom: 4px;
}
span {
	background-color: #E6CCFF;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
}


/*STYLES FOR TABLE*/
table { 
	width: 100%; /*takes 75% of parent container*/
	margin: auto;
	border: 2px dashed #000000; /*set border weight, style, and color*/
	border-spacing: 0 /*remove border spacing*/
}
th.pattern {
	width: 200px;
	border: none; /*remove border*/
	text-align: center; /*align text to center*/
	padding-top: 5px; /*set top padding*/
	padding-bottom: 5px;  /*set bottom padding*/
	padding-left: 8px;  /*set left padding*/
	padding-right: 15px;  /*set right padding*/
	font-size: 25px;
}
td {
	width: 300px;
	padding-left: 20px;
}

td img {
	width: 100%;
	height: auto;
	padding-top: 5px; /*set top padding*/
	padding-bottom: 5px; /*set bottom padding*/
}
td.text {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	width: 800px;
	margin-left: 0;
}
	
tr:nth-of-type(odd) { background-color: #FFFFCC; } /*pseudocode for table row*/
tr:nth-of-type(even) { background-color: #E6CCFF; } 


/*STYLES FOR FOOTER*/
footer {
	font-size: .60em; /*Set font size*/
	font-style: italic; /*Set font style to Italic*/
	text-align: center; /*Align text to the Center*/
	background-color: #E6CCFF;  /*set background color*/
	padding-top: 1em; /*Add top padding*/
	padding-bottom: 1em; /*Add bottom padding*/
	border-top: 2px solid #000000; /*Add top Border*/
	margin-top: 20px;
	width: 100%;
}

/*DISPLAY PROPERTIES FOR MOBILE DEVICES*/
#mobile {
	display: inline;
}
#desktop {
	display: none;
}

/*MEDIA QUERY FOR SMALL SCREENS*/
@media only screen and (max-width: 400px) {
		#wrapper {
			width: 100%
		}
		#group {
			height: 100px;
		}
		h1 {
			font-size: 30px;
		}
		h3 {
			font-size: 14px;
		}
		#subhead {
			font-size: 14px;
		}
		
		/*table*/
		th.pattern {
			text-align: left;
			font-size: 12px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 6px;
			padding-right: 0;
			width: 40px;
		}
		td {
			width:180px;
			padding-left: 10px;
		}
		td img {
			width: 100%;
			height: auto;
			padding-left: 0;
			padding-right: 0;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		td.text {
			width: 140px;
			text-align: center;
			font-size: 12px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		
		/*gallery*/
		#gallery { 
			width: 100%; 
		}
		#gallery ul { 
			width: 370px;
		}
		#gallery li { 
			width: 70px;
			padding: 3px; 
		}
		figure {
			padding-right: 20px;
		}
		figure img {
			width: 100%;
			height: auto;
			padding-top: 30px;
		}
		figcaption { 
			font-weight: bold;
			font-size: 1em;
			padding-top: 10px;
		}
		/*form*/
		form {
			width: 300px;
			margin: 35px;
		}
}


/*MEDIA QUERY FOR MEDIUM SCREENS*/
@media only screen and (min-width: 600px) {
		#wrapper {
			width: 100%
		}
		#group {
				height: 300px;
		}
		h1 {
			font-size: 30px;
		}
		h3 {
			font-size: 15px;
		}
		#subhead {
			font-size: 15px;
		}
		/*table*/
		th.pattern {
			font-size: 10px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 6px;
			padding-right: 0;
			width: 40px;
		}
		td {
			width:200px;
		}
		td img {
			width: 100%;
			height: auto;
			padding-left: 0;
			padding-right: 0;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		td.text {
			font-size: 14px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		
		#flow {
			display: flex; /*felxible container*/
			flex-direction: column;
		}
		
		#mobile { display: none; } /*hide element*/
		#desktop {display: none; }
		
		/*gallery*/
		#gallery { 
			width: 100%; 
		}
		#gallery ul { 
			width: 300px;
		}
		#gallery li { 
			padding: 10px; 
		}
}

/*MEDIA QUERY FOR LARGE SCREENS*/
@media only screen and (min-width: 1024px) {
		#wrapper {
			width: 100%
		}
		#group {
				height: 300px;
		}
		h3 {
			font-size: 18px;
		}
		#flow {
			display: flex; /*felxible container*/
			flex-direction: column;
		}
		#mobile { display: none; } /*hide element*/
		#desktop {display: none; }
		
}