
/*STYLES FOR NAVIGATION*/
nav {
	text-align: center; /*Align text to the Center*/
	background-color: #FFFFCC;  /*set background color*/
	padding: 1em; /*Add bottom padding*/
	border: 4px solid #4d0d72; /*Add top Border*/
	margin: 0; /*set margin to 0*/
	position: sticky;
}
nav a {
	text-decoration: none; /*remove default link underline*/
}
/*pseudo class for nav links*/
nav a:link {
	color: #8B008B; /*set color of nav*/
}
nav a:hover {
	color: #CC9933;  /*set color of nav when hovered over*/
}


/*STYLES FOR IMAGES*/
#group {
	height: 400px; /*set image height*/
	background-image: url(../images/group.jpg); /*Set background image*/
	background-size: auto; /*Cover entire element with background image*/
	background-repeat: no-repeat; /*Prevent background image from repeating*/
	background-position: center; /*set image position to center*/
}
img {
	padding-left: 15px;  /*set left padding*/
	padding-right: 15px;  /*set right padding*/
	padding-top: 5px;  /*set top padding*/
	padding-bottom: 5px;  /*set bottom padding*/
	width: 100%; 
	height: auto;  /*set height to auto scale image*/
}

#careContainer {
	display: block;
	background-image: linear-gradient(#f5f5f5, #fdfb85, #F5F5F5, #fdfb85, #f9ffa9, #F5F5F5);
	padding-bottom: 50px;
}
#coatlength {
	text-align: center;
	padding-top: 20px;
}
#careImg {
	display: block;
	width: 30%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#bathing {
	text-align: left;
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
	text-decoration-color:#9d49ce;
}

p {
	text-align: left;
	margin-left: 70px;
	margin-right: 50px;
}


/* Map Styles */

div#displayMap {
	width: 40%;
	padding-bottom: 30%;
	height: 0;
	margin: 20px auto;
	border: 3px solid rgb(131, 45, 153);
 }
 
 div#routeBox {
	width: 70%;
	margin: 10px auto;
	min-height: 50px;
	border: 3px solid rgb(109, 58, 143);
	text-align: center;
 }

/*STYLES FOR BODY*/
body {
	background-color: #F5F5F5;  /*set background color*/
	color: #000000;  /*set font color*/
	font-family: Georgia, Arial, sans-serif;  /*set font for text*/
}

#indexTitle { 
	display: block;
	text-align: center; /*Align text to the Center*/
	background-color: #dabdf5;  /*set background color*/
	padding: 15px; /*Add bottom padding*/
	margin: 0;
	color:#000000;
	border: none;
}

h1 { 
	display: block;
	text-align: center; /*Align text to the Center*/
	border-bottom-style: solid;
	border-color:#000000;
	border-width: 5px;
	color:#4d0d72;
	padding: 10px; /*Add bottom padding*/
	padding-bottom: 5px;
	margin-top: 0; /*remove top margin*/
	margin-bottom: 0;  /*remove bottom margin*/
	margin-left: 500px;
	margin-right:500px;
}
h2 {
	text-align: center; /*align h2 to center*/
}
h3 { 
	text-align: center;  /*align h3 to center*/	
	padding-left: 15px; /*set left padding*/
	padding-right: 15px; /*set right padding*/
	margin-left: 50px;
	margin-right: 50px;
}
h4 {
	text-align: center; /*align text to center*/
	background-image: linear-gradient(to right, #9932CC, #E6CCFF, #F5F5F5, #F5F5F5, #E6CCFF, #9932CC); /*set background gradient*/
	margin: 0 auto; /*delete margin and move to center*/
	padding-top: 30px; /*add top padding*/
	padding-bottom: 30px; /*add bottom padding*/
	padding-left: 0;
	padding-right: 0;
	width: auto; /*set width to 80% of page*/
	
}

#subhead {
	text-align: center; /*aliugn text to center*/
	background-image: linear-gradient(to right, #9932CC, #E6CCFF, #F5F5F5, #F5F5F5, #E6CCFF, #9932CC); /*set background gradient*/
	margin-left: 100px; /*delete margin*/
	margin-right: 100px;
	margin-bottom: 0;
	padding-top: 20px; /*add top padding*/
	padding-bottom: 20px;
}
hr {
	width: 80%; /*set to take up 80& of page*/
	margin: 0 auto; /* delete margin and center*/
}
#socials {
	display: block;
	border-style: solid;
	border-color:#4d0d72;
	border-width: 4px;
	margin-left: 400px;
	margin-right: 400px;

}

/*STYLES FOR GALLERY*/
#gallery { 
		display: block;
		background-image: linear-gradient(to right, #9932CC, #E6CCFF, #E6CCFF, #9932CC); /*set background gradient*/
		width: 50%;
		margin-top: 50px;
		padding-top: 50px; /*add top padding*/
		padding-bottom: 50px; /*add bottom padding*/
		}
#gallery ul { 
        list-style-type: none; /*remove bullet points*/
		float: left; /*set to move to left of page*/
		margin: 0; /*no margin*/
		padding-left: 70px; /*no padding*/
		padding-top: 60px;
		}
#gallery li { 
		display: inline; 
		float: left;
		padding: 0;
		border: none;
		}
#gallery img { 
		border-style: none; /*no border style*/
		width: 40%; /*size down images*/
		}
figure { 
		padding-top: 10px; /*add top padding*/
		text-align: center; /*align text to center*/
		border-style: solid;
		border-color:#FFFFCC;
		border-width: 4px;
}


figcaption { 
		font-weight: bold; /*set text to bold*/
        font-size: 1.5em; /*set font size*/
		padding-top: 20px; /*add top padding*/
		padding-bottom: 20px;
		}


/*STYLES FOR FORM*/
#form {
	background-image: url(../images/paws.jpg);
	background-repeat: repeat;
	width: 350px;
    margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
}
#box {
	background: rgb(0, 0, 0, 0.75);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	color:#ffffff;
}

/*span {
	background-color: #000000;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	color:#ffffff;
	opacity: 75%;
}*/



/*STYLES FOR TABLE*/
table { 
	width: auto; /*takes 75% of parent container*/
	margin-left: 100px;
	margin-right: 100px;
	border: 3px solid #4d0d72; /*set border weight, style, and color*/
	border-spacing: 0 /*remove border spacing*/
}
th.pattern {
	width: 200px;
	border-bottom: solid; /*remove border*/
	border-color: #ffffff;
	border-width: 3px;
	text-align: center; /*align text to center*/
	padding-top: 5px; /*set top padding*/
	padding-bottom: 5px;  /*set bottom padding*/
	padding-left: 8px;  /*set left padding*/
	padding-right: 15px;  /*set right padding*/
	font-size: 25px;
	background-color: #000000;
	color:#ffffff;

}
td {
	width: 200px;
	padding-left: 10px;
	border-bottom: solid; /*remove border*/
	border-color: #ffffff;
	border-width: 3px;
}

td.img {
	width: 100%;
	height: auto;
	padding-top: 5px; /*set top padding*/
	padding-bottom: 5px; /*set bottom padding*/
}
td.text {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	width: 750px;
	margin-left: 0;
	margin-right: 50px;
	border-bottom: solid; /*remove border*/
	border-color: #ffffff;
	border-width: 3px;
}
	
tr:nth-of-type(odd) { background-color: #FFFFCC; } /*pseudocode for table row*/
tr:nth-of-type(even) { background-color: #E6CCFF; } 


/*STYLES FOR FOOTER*/
footer {
	font-size: .60em; /*Set font size*/
	font-style: italic; /*Set font style to Italic*/
	text-align: center; /*Align text to the Center*/
	background-color: #E6CCFF;  /*set background color*/
	padding-top: 1em; /*Add top padding*/
	padding-bottom: 1em; /*Add bottom padding*/
	border-top: 2px solid #000000; /*Add top Border*/
	margin-top: 20px;
	width: 100%;
}

/*DISPLAY PROPERTIES FOR MOBILE DEVICES*/
#mobile {
	display: inline;
}
#desktop {
	display: none;
}

/*MEDIA QUERY FOR SMALL SCREENS*/
@media only screen and (max-width: 400px) {
		#wrapper {
			width: 100%
		}
		#group {
			height: 100px;
		}
		h1 {
			font-size: 30px;
		}
		h3 {
			font-size: 14px;
		}
		#subhead {
			font-size: 14px;
		}
		
		/*table*/
		th.pattern {
			text-align: left;
			font-size: 12px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 6px;
			padding-right: 0;
			width: 40px;
		}
		td {
			width:180px;
			padding-left: 10px;
		}
		td img {
			width: 100%;
			height: auto;
			padding-left: 0;
			padding-right: 0;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		td.text {
			width: 140px;
			text-align: center;
			font-size: 12px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		
		/*gallery*/
		#gallery { 
			width: 100%; 
		}
		#gallery ul { 
			width: 370px;
		}
		#gallery li { 
			width: 70px;
			padding: 3px; 
		}
		figure {
			padding-right: 20px;
		}
		figure img {
			width: 100%;
			height: auto;
			padding-top: 30px;
		}
		figcaption { 
			font-weight: bold;
			font-size: 1em;
			padding-top: 10px;
		}
		/*form*/
		form {
			width: 300px;
			margin: 35px;
		}
}


/*MEDIA QUERY FOR MEDIUM SCREENS*/
@media only screen and (min-width: 600px) {
		#wrapper {
			width: 100%
		}
		#group {
				height: 300px;
		}
		h1 {
			font-size: 30px;
		}
		h3 {
			font-size: 15px;
		}
		#subhead {
			font-size: 15px;
		}
		/*table*/
		th.pattern {
			font-size: 10px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 6px;
			padding-right: 0;
			width: 50px;
		}
		td {
			width:200px;
		}
		td img {
			width: 100%;
			height: auto;
			padding-left: 0;
			padding-right: 0;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		td.text {
			font-size: 14px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		
		#flow {
			display: flex; /*felxible container*/
			flex-direction: column;
		}
		
		#mobile { display: none; } /*hide element*/
		#desktop {display: none; }
		
		/*gallery*/
		#gallery { 
			width: 100%; 
		}
		#gallery ul { 
			width: 300px;
		}
		#gallery li { 
			padding: 10px; 
		}
}

/*MEDIA QUERY FOR LARGE SCREENS*/
@media only screen and (min-width: 1024px) {
		#wrapper {
			width: 100%
		}
		#group {
				height: 300px;
		}
		h3 {
			font-size: 18px;
		}
		#flow {
			display: flex; /*felxible container*/
			flex-direction: column;
		}
		th.pattern {
			width: 15%;
		}
		#mobile { display: none; } /*hide element*/
		#desktop {display: none; }
		
}